$("#newCharacteristic").html('<%= j render "characteristics/new" %>');
$("#new_characteristic").submit(function(event) {
	event.preventDefault();
	console.log(this)
	var name = $('#characteristic_name').val(); 
	var params = $(this).serialize();
	// var form = $('form .new_characteristic').val();
	console.log(params)
	if ( name === ""){
		console.log(name)
		$('#name .help-block').remove();
		$('#name').prepend(`<div class="help-block">Please enter a name.</div>`);
	}else {
		// console.log(this)
		// var params = $(this).serialize();
		// console.log(params)
		$.ajax({
	      type: "POST",
	      url: '/characteristics',
	  	  data: params
	    }).done(function( data ) {
	    	console.log(data)
	    	var newCharacteristic = new Characteristic(data);
	    	var characteristicHtml = newCharacteristic.formatDisplay();
	    	$("#newCharacteristic").remove();
	    	$('#characteristics').append(characteristicHtml);
		});
	};
});

function Characteristic(characteristic) {
	this.name = characteristic.name
	this.url = '/characteristics/' + characteristic.id
}

Characteristic.prototype.formatDisplay = function() {
	console.log(this)
	var characteristicHtml = `<div><a href="${this.url}">${this.name}</a></div>`
	return characteristicHtml;
};