<h1>Characteristics</h1>

<% if @characteristic %>
	<a href="#" class="js-next" data-id="<%=@characteristic.id%>">Next Characteristic</a>
	<p class="name"><%= @characteristic.name %></p>
<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
  $(".js-next").click(function(event) {
    event.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/characteristics/" + nextId + ".json", function(data) {
      $(".name").text(data["name"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>